main {
  background-color: white;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4em;
  margin-bottom: 4em;
  box-shadow: 0em .5em 1em #1976D2
}

main ol li a {
  color: #1976D2;
}

section h2 {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2em;
  margin-bottom: 2em;
}