h1 {
  font-size: 32px;
}

section code {
  width: auto;
  padding: 1px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: lightgray;
}

pre code {
  background-color: transparent;
  border: none;
}

img {
  float: right;
  padding-left: 8px;
  width: 240px;
}