html {
  background-color: #2196F3;
  font-family: arial;
  color: #212121
}

table {
  text-align: center;
  table-layout: fixed;
  padding: .5em;
  background-color: white;
}

img {
  width: 20em;
  height: auto;
}

a {
  color: white;
}

a:visited {
  color: #727272;
}

.h-table {
  position: fixed;
  top: 0px;
  width: 85%;
  left: 7.5%;
  background-color: #FF5252;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.f-table {
  position: fixed;
  bottom: 0px;
  width: 85%;
  left: 7.5%;
  background-color: #FF5252;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#about-me {
  width: 70%;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 2em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#profile-img {
  text-align: right;
}

#profile-desc {
  text-align: left;
  padding: 2em 4em 2em 2em;
}

#projects {
  width: 70%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 4em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}